body {
  font-family: 'Roboto Mono', monospace;
  min-height: 400px;
  background-image: url('https://55919.cdn.simplo7.net/static/55919/sku/kits-3-macacos-do-dinheiro-fundo-preto-1595547144482.png');
  background-color: #000000;
  background-size: 100vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 90vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

select {
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
}

label {
  color: white;
}

button {
  margin: 0 auto;
  display: flex;
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  background: #ffffff;
}

h2 {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}

.b-converter {
  background-color: rgb(255, 222, 1);
  color: rgb(255, 254, 254);
  font-weight: bold;
  border: none;
}

.b-converter:hover {
  filter: brightness(70%);
  cursor: pointer;
}
